.btn {
  background-color: var(--active-color);
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
}

.heading {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 100px;
  margin-bottom: 30px;
}

.subHeading {
}
